.container{
    text-align: center;
    margin-top: 23px;
}
table{
   margin: auto;
}

input{
    background-color: #f1f5f7;
    text-align: right;
    font-size: 34px;
    width: 300px;
    height: 65px;
    border: 4px  #244624;
    border-radius: 10px;
    /* border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgb(27, 22, 22); */
}

/* button{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgb(27, 22, 22);
    font-size: 40px;
    width: 104px;
    height: 90px;
    margin: 6px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 200ms ease;
} */
.equal{
    width: 80%;
    background-color: #adf9e7;
    color:#000;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover{
    transform: scale(1.10);
}

.calculator{
    border: 4px solid #8a8a8a ;
    display: inline-block;
    background-color: rgb(201, 199, 199);
    border-radius: 30px;
    padding: 23px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #2a2828;
}
.clear{
    background-color: #ffd5d8;
    color: #fc4552;
}

.number{
    background-color: #c3eaff;
    color: #000;
}
.operators{
    background-color: #ffd0fd;
    color: #f967f3;
}